<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<restaurant>
	<currency>
		<name>Yen</name>
		<symbol>¥</symbol>
	</currency>
	<languages>
		<language>
			<name>Japanese</name>
			<id>ja</id>
			<flag>
				<location>japan</location>
				<type>png</type>
			</flag>
		</language>
		<language>
		<name>English</name>
			<id>en</id>
			<flag>
				<location>english</location>
				<type>png</type>
			</flag>
		</language>
	</languages>
	<menus>
	    <!-- Menu 1 -->
		<submenu>
			<name>肉料理</name>
			<id>51</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item1</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>千屋牛ロースステーキ</name>
					<id>5101</id>
					<isEnable>true</isEnable>
					<price>4000</price>
					<image>
						<location>chiya_beef_loin_steak</location>
						<type>png</type>
					</image>
					<options>
						<name>Type</name>
						<option>
							<name>100g</name>
							<price>4000</price>
							<no_of_person></no_of_person>
						</option>						
						<option>
							<name>150g</name>
							<price>5500</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
							岡山県からのローカル牛肉
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>

				<item>
					<name>国産牛ヒレステーキ</name>
					<id>5102</id>
					<isEnable>true</isEnable>
					<price>4000</price>
					<image>
						<location>japanese_beef_fillet_steak</location>
						<type>png</type>
					</image>
					<options>
						<name>Type</name>
						<option>
							<name>100g</name>
							<price>4000</price>
							<no_of_person></no_of_person>
						</option>						
						<option>
							<name>150g</name>
							<price>5500</price>
							<no_of_person></no_of_person>
						</option>
						</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>

				<item>
					<name>国産牛ロースステーキ</name>
					<id>5103</id>
					<isEnable>true</isEnable>
					<price>2500</price>
					<image>
						<location>japanese_beef_loin_steak</location>
						<type>png</type>
					</image>
					<options>
						<name>Type</name>
						<option>
							<name>100g</name>
							<price>2500</price>
							<no_of_person></no_of_person>
						</option>						
						<option>
							<name>150g</name>
							<price>3500</price>
							<no_of_person></no_of_person>
						</option>
						</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>							
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
			</items>
		</submenu>

		<!-- Menu 2 -->
		<submenu>
			<name>魚料理</name>
			<id>21</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item2</location>
				<type>png</type>
			</image>
			<items>
			    <item>
					<name>お魚料理お好み</name>
					<id>2101</id>
					<isEnable>true</isEnable>
					<price>0</price>
					<image>
						<location>fish_with_your_preference</location>
						<type>png</type>
					</image>
					<options>				
						</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
							ご相談ください
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>			
				<item>
					<name>伊勢海老の刺身</name>
					<id>2102</id>
					<isEnable>true</isEnable>
					<price>0</price>
					<image>
						<location>chiya_beef_loin_steak</location>
						<type>png</type>
					</image>
			        <options>						
						</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>							
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>鮑のお造り(1杯)</name>
					<id>2103</id>
					<isEnable>true</isEnable>
					<price>2500</price>
					<image>
						<location>abalone_sashimiu</location>
						<type>png</type>
					</image>
					   <options>						
						</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>							
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>車海老塩焼き（2尾）</name>
					<id>2104</id>
					<isEnable>true</isEnable>
					<price>1500</price>
					<image>
						<location>grilled_kuruma_prawn_with_saltu</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
			</items>
		</submenu>

		<!-- Menu 3 -->
		<submenu>
			<name>その他</name>
			<id>22</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item3</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>天ぷらお好み</name>
					<id>2201</id>
					<isEnable>true</isEnable>
					<price>0</price>
					<image>
						<location>tempura_with_your_preference</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						    ご相談ください
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>おにぎり（2個）</name>
					<id>2202</id>
					<isEnable>true</isEnable>
					<price>400</price>
					<image>
						<location>rice_bollsuq</location>
						<type>png</type>
					</image>
					<options>						
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>うどん各種</name>
					<id>2205</id>
					<isEnable>true</isEnable>
					<price>800</price>
					<image>
						<location>udon_in_hot_ soup_w</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>お粥・雑炊</name>
					<id>2206</id>
					<isEnable>true</isEnable>
					<price>700</price>
					<image>
						<location>rice_gruelu</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>きつねうどん</name>
					<id>2207</id>
					<isEnable>true</isEnable>
					<price>0</price>
					<image>
						<location>fried_tofu_in_udon_noodle_soup</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>天ぷらうどん</name>
					<id>2208</id>
					<isEnable>true</isEnable>
					<price>0</price>
					<image>
						<location>tempura_in_udon_noodle_soupu</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				<item>
					<name>卵とじうどん</name>
					<id>2209</id>
					<isEnable>true</isEnable>
					<price>0</price>
					<image>
						<location>udon_in_hot_ soup_with_ beaten_eggu</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
			</items>
		</submenu>

		<!-- Menu 4 -->
		<submenu>
			<name>お子様</name>
			<id>24</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item4</location>
				<type>png</type>
			</image>
			<items>
			    <item>
					<name>お子様ランチ</name>
					<id>2401</id>
					<isEnable>true</isEnable>
					<price>3000</price>
					<image>
						<location>kids_lunch</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				 <item>
					<name>お子様朝食</name>
					<id>2402</id>
					<isEnable>true</isEnable>
					<price>1500</price>
					<image>
						<location>kids_breakfast</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				 <item>
					<name>幼児夕食</name>
					<id>2403</id>
					<isEnable>true</isEnable>
					<price>1200</price>
					<image>
						<location>little_kids_dinner</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
				 <item>
					<name>幼児朝食</name>
					<id>2404</id>
					<isEnable>true</isEnable>
					<price>1000</price>
					<image>
						<location>little_kids_ breakfast</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>						 
						</description>
						<calories></calories>
					</item_details>
					<add_on_name></add_on_name>
				</item>
			</items>
		</submenu>

		<!-- Menu 5 -->	
		<submenu>
			<name>ビール</name>
			<id>32</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item5</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>キリン　クラシックラガー</name>
					<id>3205</id>
					<isEnable>true</isEnable>
					<price>756</price>
					<image>
						<location>kirin_classic_larger</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>アサヒ　スーパードライ</name>
					<id>3206</id>
					<isEnable>true</isEnable>
					<price>756</price>
					<image>
						<location>asahi_super_dry</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>生ビール　キリン一番搾り</name>
					<id>3207</id>
					<isEnable>true</isEnable>
					<price>648</price>
					<image>
						<location>draft_beer_kirin_ichiban</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						</description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>
		
		<!-- Menu 6 -->	
		<submenu>
			<name>どぶろく</name>
			<id>41</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item6</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>れいし（麗姿)</name>
					<id>4102</id>
					<isEnable>true</isEnable>
					<price>400</price>
					<image>
						<location>reishi</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>Glass</name>
							<price>400</price>
							<no_of_person></no_of_person>
						</option>						
						<option>
							<name>Bottle (720ml)</name>
							<price>3200</price>
							<no_of_person></no_of_person>
						</option>											    
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>
						    美作の水と米からできた天然の発泡日本酒。 フレッシュでフルーティな味わい。アルコール度数は11〜13度と
						</description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>

		<!-- Menu 7 -->	
		<submenu>
			<name>サワーく</name>
			<id>42</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item7</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>レモン</name>
					<id>4205</id>
					<isEnable>true</isEnable>
					<price>648</price>
					<image>
						<location>lemon</location>
						<type>png</type>
					</image>
					<options>																    
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>梅</name>
					<id>4206</id>
					<isEnable>true</isEnable>
					<price>648</price>
					<image>
						<location>plum</location>
						<type>png</type>
					</image>
					<options>																    
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>カルピス</name>
					<id>4207</id>
					<isEnable>true</isEnable>
					<price>648</price>
					<image>
						<location>japanese_milk_based_soft_drink</location>
						<type>png</type>
					</image>
					<options>											    
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>
		
		<!-- Menu 8 -->	
		<submenu>
			<name>ソフトドリンク</name>
			<id>43</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item8</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>ウーロン茶</name>
					<id>4305</id>
					<isEnable>true</isEnable>
					<price>324</price>
					<image>
						<location>oolong_tea</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>コカコーラ</name>
					<id>4306</id>
					<isEnable>true</isEnable>
					<price>324</price>
					<image>
						<location>coke</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>オレンジジュース</name>
					<id>4307</id>
					<isEnable>true</isEnable>
					<price>324</price>
					<image>
						<location>orange_juice</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>炭酸水</name>
					<id>4308</id>
					<isEnable>true</isEnable>
					<price>324</price>
					<image>
						<location>soda</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>ノンアルコールビール　キリンフリー</name>
					<id>4309</id>
					<isEnable>true</isEnable>
					<price>648</price>
					<image>
						<location>alcohol-free_beer_kirin_free</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>
		
		<!-- Menu 9 -->	
		<submenu>
			<name>日本酒</name>
			<id>44</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_menu_item9</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>作州武蔵　(純米）</name>
					<id>4405</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>sakushumusashi_pure_rice_premium_brew_sake</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>300ml</name>
							<price>1296</price>
							<no_of_person></no_of_person>
						</option>	
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>岡山県産の朝日米でできたスッキリとした辛口の純米酒です。 難波酒造（津山市）</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>御前酒美作 　(純米）</name>
					<id>4406</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>gozenshu_mimasaka_pure_rice_premium_brew_sake</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>300ml</name>
							<price>1404</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>雄町米が持つ旨み、味わいの広がりが楽しめる飲み飽きない 旨口の純米酒です。　御前酒蔵元 辻本店（真庭市）</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>武蔵の里 (純米吟醸）</name>
					<id>4407</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>musashinosatouiquality_sake_brewed_with_very_highly_polished</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>300ml</name>
							<price>1620</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>美作を贅沢に使った〝純米吟醸 武蔵の里〟は 大吟醸酒におとらない高い香りとフルーティな味わいです。 　田中酒造場（作市）</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>加茂五葉　（大吟醸）</name>
					<id>4408</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>kamoitsuha</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>300ml</name>
							<price>1728</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>山田錦を40％精米し、杜氏が精魂かたむけた大吟醸酒。 斗びん囲いで、ていねいに冷蔵した香り高く若々しい味わいが</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>熱燗 　さつき心</name>
					<id>4409</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>hot_sake_satsuki_kokoro</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>180ml</name>
							<price>648</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>清酒 さつき心〟はその名の通り、新芽が吹くころの</description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>
		
		<!-- Menu 10 -->	
		<submenu>
			<name>Shochu</name>
			<id>45</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_default</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>いいちこ (麦）</name>
					<id>4505</id>
					<isEnable>true</isEnable>
					<price>648</price>
					<image>
						<location>iichiko_made_from_barley</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>Glass</name>
							<price>648</price>
							<no_of_person></no_of_person>
						</option>
						<option>
							<name>Bottle (900ml)</name>
							<price>3240</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>神の河 (麦)</name>
					<id>4506</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>kaminokawa_made_from_barley</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>Glass</name>
							<price>864</price>
							<no_of_person></no_of_person>
						</option>
						<option>
							<name>Bottle (720ml)</name>
							<price>3780</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>黒霧島 (芋)</name>
					<id>4507</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>kuro_kirishima_made_from_barley</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>Glass</name>
							<price>864</price>
							<no_of_person></no_of_person>
						</option>
						<option>
							<name>Bottle (720ml)</name>
							<price>3780</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>ももちゅう (桃)</name>
					<id>4508</id>
					<isEnable>true</isEnable>
					<price></price>
					<image>
						<location>momo_chu_uipeach_shochu</location>
						<type>png</type>
					</image>
					<options>
					    <name>Type</name>
						<option>
							<name>Glass</name>
							<price>648</price>
							<no_of_person></no_of_person>
						</option>
						<option>
							<name>Bottle (520ml)</name>
							<price>3240</price>
							<no_of_person></no_of_person>
						</option>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>白桃の馥郁とした香りと味しさを十二分にひきだした 甘さひかえめの桃の焼酎です</description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>
		
		<!-- Menu 11 -->	
		<submenu>
			<name>Wine</name>
			<id>46</id>
			<isEnable>true</isEnable>
			<price></price>
			<isSuggestion>false</isSuggestion>
			<image>
				<location>kifunosato_default</location>
				<type>png</type>
			</image>
			<items>
				<item>
					<name>これ里ワイン ピオーネ（ロゼ/中甘口）</name>
					<id>4605</id>
					<isEnable>true</isEnable>
					<price>2160</price>
					<image>
						<location>koresato_wine_muscat_grapes_white_sweet</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>是里ワインは岡山産ブドウで醸造している地産地消のワイナリーです</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>これ里ワイン マスカット (白/甘口）</name>
					<id>4606</id>
					<isEnable>true</isEnable>
					<price>2160</price>
					<image>
						<location>kifunosato_default</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>バロン・ド・レスタック　（白/辛口）</name>
					<id>4607</id>
					<isEnable>true</isEnable>
					<price>2160</price>
					<image>
						<location>baron_de_lesac_white_dry</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>フランス ボルドーにあるカステル社はフランスNo.1のワイン会社との</description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>バロン・ド・レスタック　（赤/ミディアムボディ）</name>
					<id>4608</id>
					<isEnable>true</isEnable>
					<price>2160</price>
					<image>
						<location>baron_de_lesac_red_medium</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description></description>
						<calories></calories>
					</item_details>
				</item>
				<item>
					<name>ブルート・レゼルバ　（発泡白/辛口）</name>
					<id>4609</id>
					<isEnable>true</isEnable>
					<price>2160</price>
					<image>
						<location>kifunosato_default</location>
						<type>png</type>
					</image>
					<options>
					</options>
					<item_details>
						<ingredients>
						</ingredients>
						<cooking_instructions>
						</cooking_instructions>
						<description>とても細やかな泡立ちで、滑らかな感触を口中で楽しむことができる</description>
						<calories></calories>
					</item_details>
				</item>
			</items>
		</submenu>
				
		</menus>
			
	<add_ons_group>
		<add_ons>
			<name>AddOn1</name>
			<add_on>
				<id>10001</id>
				<name>Extra Patty Chicken</name>
				<price>5.50</price>
			</add_on>
			<add_on>
				<id>10002</id>
				<name>Extra Patty Beef</name>
				<price>5.50</price>
			</add_on>
			<add_on>
				<id>10003</id>
				<name>Hashbrown</name>
				<price>3.00</price>
			</add_on>
			<add_on>
				<id>10004</id>
				<name>Jalapenos</name>
				<price>1.50</price>
			</add_on>
			<add_on>
				<id>10005</id>
				<name>Fried Egg</name>
				<price>2.00</price>
			</add_on>
			<add_on>
				<id>10006</id>
				<name>Cheese Cheddar</name>
				<price>2.00</price>
			</add_on>
			<add_on>
				<id>10007</id>
				<name>Cheese Swiss</name>
				<price>2.00</price>
			</add_on>
			<add_on>
				<id>10008</id>
				<name>Caramelized Onions</name>
				<price>2.00</price>
			</add_on>
			<add_on>
				<id>10009</id>
				<name>Shiitake &amp; Enoki Mushrooms</name>
				<price>2.00</price>
			</add_on>
			<add_on>
				<id>10010</id>
				<name>Whole Portabello Mushroom Grilled</name>
				<price>6.00</price>
			</add_on>
			<add_on>
				<id>10011</id>
				<name>Whole Portabello Mushroom Fried</name>
				<price>6.00</price>
			</add_on>
			<add_on>
				<id>10012</id>
				<name>Fried Avocado</name>
				<price>3.50</price>
			</add_on>
			<add_on>
				<id>10013</id>
				<name>Pineapple</name>
				<price>2.00</price>
			</add_on>
		</add_ons>
	</add_ons_group>
</restaurant>